@import url("https://use.typekit.net/enf0iwy.css");

$asset-path: "../fonts/";

/* Fonts includer */
@mixin font-face($font-family, $font-file, $weight: "normal", $style: "normal") {
    @font-face {
        font-family: $font-family;
        src: local($font-file), url($asset-path + $font-file + ".woff") format("woff"),
            url($asset-path + $font-file + ".otf") format("opentype");
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face("Faktum", "Faktum Test Regular", 400);
@include font-face("Faktum", "Faktum Test Bold", 700);
